.wrapper{
    display: grid;
    grid-template-areas: 
    "add add"
    "dialogues messages" ;
    grid-template-rows: 2;
    grid-template-columns: 2fr 10fr;
}

.dialoguesList{
    background-color: brown;
    grid-area: dialogues;
}
.item{

}
.item a{
    text-decoration: none;
}

.dialogue {
    background-color: coral;
    grid-area: messages;

}

.message{

}